build
.DS_Store

MacApp/MacApp_Release_XV.I.smi.hqx
MacApp/MacApp_Release_XV.I.smi
MacApp/Apple C++ Frameworks
MacApp/fixlineendings
MacApp/patch

owc/.UploadTimeStamps

XPostFacto/Derived
XPostFacto/XPostFacto*Data
XPostFacto/XPostFacto.mcp
XPostFacto/XPostFactoOS9*

XPostFacto/Prefixes/MacAppHeaders_macho_*
XPostFacto/Prefixes/MacAppHeaders_ppc_*

XPostFacto/Resources/Views/*.rsrc
XPostFacto/Resources/Views/ViewTypes.r

XPostFacto.pbproj/*.pbxuser
XPostFacto.pbproj/*.mode1
XPostFacto.pbproj/Icon*
